html {
    cursor: url("data:image/svg+xml,%3Csvg height='6' width='6' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' fill='black' r='4'/%3E%3C/svg%3E") 3 3, auto;
    font-size: 16px;
}

@media only screen and (min-width: 320px) {
    html {
        /* font-size: 18px; */
        font-size: 10px;

    }
}

@media only screen and (min-width: 720px) {
    html {
        /* font-size: 18px; */
        font-size: 12px;

    }
}

@media only screen and (min-width: 960px) {
    html {
        /* font-size: 20px; */
        font-size: 14px;

    }
}

@media only screen and (min-width: 1240px) {
    html {
        /* font-size: 24px; */
        font-size: 16px;

    }
}


/* AkzidenzGrotesk */
@font-face {
    font-family: 'akzidenz-grotesk_stdregular';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-regular-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'akzidenz-grotesk_stdmedium';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-md-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-md-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdRgEx';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-ext-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-ext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdlight';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-light-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdMdCnIt';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-mdcnit-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-mdcnit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdBdCn';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-boldcn-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-boldcn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'akzidenz-grotesk_stdBdCnIt';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-boldcnit-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-boldcnit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'akzidenz-grotesk_stdBdEx';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-boldex-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-boldex-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'akzidenz-grotesk_stdMdEx';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-mdex-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-mdex-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'akzidenz-grotesk_stdBdExIt';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-boldexit-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-boldexit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdBdIt';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-boldit-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-boldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdRgCn';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-cn-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-cn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdCnIt';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-cnit-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-cnit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdLtExIt';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-ligextit-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-ligextit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdLtCn';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-lightcn-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-lightcn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* Grifo L */
@font-face {
    font-family: 'grifo_lblack';
    src: url('./Fonts/Grifo/GrifoL/grifol-black-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_lblack_italic';
    src: url('./Fonts/Grifo/GrifoL/grifol-blackitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_lbold';
    src: url('./Fonts/Grifo/GrifoL/grifol-bold-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_lbold_italic';
    src: url('./Fonts/Grifo/GrifoL/grifol-bolditalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_litalic';
    src: url('./Fonts/Grifo/GrifoL/grifol-italic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_llight';
    src: url('./Fonts/Grifo/GrifoL/grifol-light-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_llight_italic';
    src: url('./Fonts/Grifo/GrifoL/grifol-lightitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_lmedium';
    src: url('./Fonts/Grifo/GrifoL/grifol-medium-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_lmedium_italic';
    src: url('./Fonts/Grifo/GrifoL/grifol-mediumitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_lregular';
    src: url('./Fonts/Grifo/GrifoL/grifol-regular-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Grifo M */
@font-face {
    font-family: 'grifo_mblack';
    src: url('./Fonts/Grifo/GrifoM/grifom-black-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mblack_italic';
    src: url('./Fonts/Grifo/GrifoM/grifom-blackitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mbold';
    src: url('./Fonts/Grifo/GrifoM/grifom-bold-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mbold_italic';
    src: url('./Fonts/Grifo/GrifoM/grifom-bolditalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mitalic';
    src: url('./Fonts/Grifo/GrifoM/grifom-italic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mlight';
    src: url('./Fonts/Grifo/GrifoM/grifom-light-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mlight_italic';
    src: url('./Fonts/Grifo/GrifoM/grifom-lightitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mmedium';
    src: url('./Fonts/Grifo/GrifoM/grifom-medium-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mmedium_italic';
    src: url('./Fonts/Grifo/GrifoM/grifom-mediumitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mregular';
    src: url('./Fonts/Grifo/GrifoM/grifom-regular-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Grifo S */
@font-face {
    font-family: 'grifo_sblack';
    src: url('./Fonts/Grifo/GrifoS/grifos-black-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_sblack_italic';
    src: url('./Fonts/Grifo/GrifoS/grifos-blackitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_sbold';
    src: url('./Fonts/Grifo/GrifoS/grifos-bold-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_sbold_italic';
    src: url('./Fonts/Grifo/GrifoS/grifos-bolditalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_sitalic';
    src: url('./Fonts/Grifo/GrifoS/grifos-italic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_slight';
    src: url('./Fonts/Grifo/GrifoS/grifos-light-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_slight_italic';
    src: url('./Fonts/Grifo/GrifoS/grifos-lightitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_smedium';
    src: url('./Fonts/Grifo/GrifoS/grifos-medium-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_smedium_italic';
    src: url('./Fonts/Grifo/GrifoS/grifos-mediumitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_sregular';
    src: url('./Fonts/Grifo/GrifoS/grifos-regular-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* Akkurat */

@font-face {
    font-family: 'akkuratbold';
    src: url('./Fonts/Akkurat/akkurat-bold-webfont.woff2') format('woff2'),
         url('./Fonts/Akkurat/akkurat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkuratbold_italic';
    src: url('./Fonts/Akkurat/akkurat-bolditalic-webfont.woff2') format('woff2'),
         url('./Fonts/Akkurat/akkurat-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkuratlight';
    src: url('./Fonts/Akkurat/akkurat-light-webfont.woff2') format('woff2'),
         url('./Fonts/Akkurat/akkurat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkuratlight_italic';
    src: url('./Fonts/Akkurat/akkurat-lightitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Akkurat/akkurat-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkuratregular';
    src: url('./Fonts/Akkurat/akkurat-reg-webfont.woff2') format('woff2'),
         url('./Fonts/Akkurat/akkurat-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akkuratregular_italic';
    src: url('./Fonts/Akkurat/akkurat-regitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Akkurat/akkurat-regitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* navigation header css */
header {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 1rem;
    background-color: transparent;
    transition: padding 300ms ease;
}

body {
    --nav-height: 3.75rem;
    padding-top: var(--nav-height);
    margin: 0;
}

.nav {
    height: var(--nav-height);
    transition:  transform 0.4s;
}

.nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
}



/* Top navigation link effects */
a.nav__link {
    /* margin-right: 30px; */
    margin-left: auto; 
    font-size: 1.5rem; /* 24px */
    /* font-size: 24px; */
    color: #000000;
    text-decoration: none;
    font-family: akzidenz-grotesk_stdmedium;
    display: inline-block;
    position: relative;
}

/* a.nav__link:last-child {
    margin-right: 0px;
    text-align: right;
} */

a.nav__link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
a.nav__link:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}




/* Index page project navigation */
a:link {
    text-decoration: none;
}
a.projectNav:hover {
	-webkit-text-stroke-width: 0.125rem;
    -webkit-text-stroke-color: #000000;
    color: #EEEDE9;
    position: relative;
}
a.underlineLink:hover{
    text-decoration: underline;
    /* color:#e0635c; */
}
em{
    /* font-family: akzidenz-grotesk_stdmedium; */
	-webkit-text-stroke-width: 0.125rem;
    -webkit-text-stroke-color: #000000;
    color: #EEEDE9;
    font-weight: bold;
    font-style: normal;
}



/* Branding project inside links*/
a.insideLink{
    display: inline-block;
    position: relative;
    /* text-decoration: underline; */
    /* color: #0087ca; */
    /* color: orangered; */
    /* font-family: GrifoS-Regular; */
    /* font-family: 'IBM Plex Mono', monospace;     */
    /* font-family: Rubik; */
    /* background-color: lightgrey; */
}

a.insideLinkProduct{
    display: inline-block;
    position: relative;
}


a.insideLink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a.insideLink:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Skip to the juicy part button*/
.skip{
    margin-top: 2.5rem;

}

/* button white CSS */
.button-56 {
  align-items: center;
  background-color: #EEEDE9;
  border: 2px solid #111;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  height: 3rem;
  justify-content: center;
  line-height: 1.5rem;
  max-width: 100%;
  padding: 0 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 0.5rem;
  content: "";
  display: block;
  height: 3rem;
  left: 0;
  width: 100%;
  position: absolute;
  top: -0.125rem;
  transform: translate(0.5rem, 0.5rem);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #EEEDE9;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

/* .button-56 {
    align-items: center;
    background-color: #EEEDE9;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px,8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-56:hover:after {
    transform: translate(0, 0);
  }
  
  .button-56:active {
    background-color: #EEEDE9;
    outline: 0;
  }
  
  .button-56:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-56 {
      padding: 0 40px;
    }
  } */


/* button black CSS */
/* .button-57 {
    align-items: center;
    background-color: #EEEDE9;
    border: 2px solid #000000;
    border-radius: 8px;
    box-sizing: border-box;
    color: #EEEDE9;
    cursor: pointer;
    display: flex;
    height: 3rem;
    justify-content: center;
    line-height: 1.5rem;
    max-width: 100%;
    padding: 0 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-57:after {
    background-color: #EEEDE9;
    border-radius: 8px;
    content: "";
    display: block;
    height: 3rem;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-57:hover:after {
    transform: translate(0, 0);
  }
  
  .button-57:active {
    background-color: #EEEDE9;
    outline: 0;
  }
  
  .button-57:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-57 {
      padding: 0 40px;
    }
  } */

  .button-57 {
    align-items: center;
    background-color: #EEEDE9;
    border: 2px solid #000000;
    border-radius: 8px;
    box-sizing: border-box;
    color: #EEEDE9;
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-57:after {
    background-color: #EEEDE9;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-57:hover:after {
    transform: translate(0, 0);
  }
  
  .button-57:active {
    background-color: #EEEDE9;
    outline: 0;
  }
  
  .button-57:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-57 {
      padding: 0 40px;
    }
  }




/*footer link*/
a.footerLink:hover{
    color: orangered;
    /* text-decoration-line: line-through; */
    /* font-family: GrifoS-italic; */
}

  
/* CursorBlack */
.cursor {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--width);
    height: var(--height);
    transform: translate(calc(var(--x) - var(--width) / 2), calc(var(--y) - var(--height) / 2));
    /* transition-duration: 125ms;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-property: width, height, transform; */
    transition: 150ms width cubic-bezier(0.39, 0.575, 0.565, 1),
                150ms height cubic-bezier(0.39, 0.575, 0.565, 1),
                150ms transform cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index: 1;
    pointer-events: none;
    will-change: transform;
}

@media (pointer: fine) {
    .cursor {
      display: block;
    }
}

.cursor::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--radius);
    border: 2px solid #000000;
    opacity: var(--scale);
    -webkit-transform: scale(var(--scale));
            transform: scale(var(--scale));
    transition: 300ms opacity cubic-bezier(0.39, 0.575, 0.565, 1),
                300ms transform cubic-bezier(0.39, 0.575, 0.565, 1),
                100ms border-radius cubic-bezier(0.39, 0.575, 0.565, 1);
}
  
html:not(html:hover) .cursor::after {
    opacity: 0;
    transform: scale(0);
}
 


/* CursorWhite */
.cursorW {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--width);
    height: var(--height);
    transform: translate(calc(var(--x) - var(--width) / 2), calc(var(--y) - var(--height) / 2));
    /* transition-duration: 125ms;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-property: width, height, transform; */
    transition: 150ms width cubic-bezier(0.39, 0.575, 0.565, 1),
                150ms height cubic-bezier(0.39, 0.575, 0.565, 1),
                150ms transform cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index: 1;
    pointer-events: none;
    will-change: transform;
}

@media (pointer: fine) {
    .cursorW {
      display: block;
    }
}

.cursorW::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--radius);
    border: 2px solid #cacaca;
    opacity: var(--scale);
    -webkit-transform: scale(var(--scale));
            transform: scale(var(--scale));
    transition: 300ms opacity cubic-bezier(0.39, 0.575, 0.565, 1),
                300ms transform cubic-bezier(0.39, 0.575, 0.565, 1),
                100ms border-radius cubic-bezier(0.39, 0.575, 0.565, 1);
}
  
html:not(html:hover) .cursorW::after {
    opacity: 0;
    transform: scale(0);
}




img{
    display: none;
    width:500px;
    /* border-radius: 10px; */
}

.index{
    border-radius: 8px;
}


/* scroll ani*/
.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }


/* table style */
table {
    font-family: akzidenz-grotesk_stdregular;
    font-size: 16px;
    line-height: 24px;     
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #000000;
  }

  
/* strawberry image in the self intro */
svg.strawberry{
    display: inline-block;
    height: 4.5rem;
    width: 4.5rem;
}

.project:hover img {
     display: block; 
     position: absolute;
     bottom: 100px;
     left: 100px;  
     height: auto;
     margin-left: auto;
     margin-right: auto; 
     border: 2px solid #000000;
}

/* below codes control effect when hover on the strawberry image */
.introduction:hover img {
    display: block; 
    position: absolute;
    bottom: 100px;
    left: 100px;  
    height: auto;
    margin-left: auto;
    margin-right: auto; 
    border: 2px solid #000000;
}


/* details of images  */
div.details img {
    width: 100%;
    height: auto;
    display: block; 
    position: static;  
    /* bottom: 100px; */
    /* left: 100px;  */
}

div.brandDetails img {
    width: 100%;
    height: auto;
    display: block; 
    position: static;  
    /* bottom: 100px; */
    /* left: 100px;  */
}


div.detailsX img {
    width: 100%;
    height: auto;
    display: block; 
    position: static;  
    /* bottom: 100px; */
    /* left: 100px;  */
}


.headline {
    width: 100%;
    height: auto;
    display: block; 
    position: static;  
}

.details {
    margin-top: 20px; 
    margin-bottom: 20px;  
    /* margin-right: 10px; */
    /* margin-left: 10px; */
}
.brandDetails {
    margin-top: 0.625rem; 
    margin-bottom: 0.625rem;  
    margin-right: 0.625rem;
    margin-left: 0.625rem;
}

.detailsX {
    margin-top: 0px; 
    margin-bottom: 1rem;  
    /* margin-right: 10px; */
    /* margin-left: 10px; */
}



/* Hero Image for Product  */

.heroImage {
    margin-top: 2rem; 
    margin-bottom: 2rem;  
    /* margin-right: 10px; */
    /* margin-left: 10px; */
}
div.heroImage img {
    width: 100%;
    height: auto;
    display: block; 
    position: static;  
    /* bottom: 100px; */
    /* left: 100px;  */
}




.date {
    margin-bottom: 4rem;  
    /* padding-left: 10px; */
}

/* .w3-container{
    padding-left: 10px;
} */

.stickyNumber {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    background-color: #EEEDE9;
    z-index: -1;
    height: 6.25rem;
    margin-top:3rem;
}

.stickyNumber2 {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem; /* 6.25rem */
    background-color: #EEEDE9;
    z-index: auto;
    height: 6.25rem;
    margin-top:3rem;
}

.stickyNumberBlack {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    background-color: #000000;
    z-index: auto;
    height: 6.25rem;
    margin-top:3rem;
}

  



section.content {
    margin-top: 1.25rem;
    padding: 1.25rem;
    color: #000000;
}

.container {
    padding: 1.25rem 1rem;
    z-index: 0;    
    position: fixed;
    bottom: 0;
    width: 30%;
}

.project {
    padding-bottom: 1rem;
    position: -webkit-sticky;
    position: relative;
    word-wrap: break-word;
}

.introduction {
    /* padding-bottom: 20px; */
    position: -webkit-sticky;
    position: relative;
    word-wrap: break-word;
}

.content {
    padding-top: 1rem; 
    padding-right: 1rem;
}

.projectDescription {
    padding-bottom: 1rem;
}

/* Product Design Template */

.productDescription {
    padding-bottom: 1rem;
}


/* Typography */
h1 {
    font-family: grifo_litalic;
    font-size: 3.75rem; /* 60px */
    color: #000000;
    letter-spacing: 0;
    line-height: 1;

}


.italic {
    font-style: italic;
    font-weight: bold;
}

.italicIntro {
    font-style: italic;
    font-family: grifo_sregular;

    font-weight: 100;
}


h2 {
    /* font-family: AkzidenzGroteskStd-BoldEx; */
    font-family: akzidenz-grotesk_stdBdEx;
    /* font-size: 140px; */
    font-size: 10rem;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0;
    text-align: right;
    line-height: 7.7rem;
}

h2.selfintro {
    /* font-family: AkzidenzGroteskStd-BoldEx; */
    font-family: akzidenz-grotesk_stdBdEx;
    /* font-family: aktiv-grotesk-extended,sans-serif;
    font-weight: 900;
    font-style: normal; */
    font-size: 5rem; /*75px*/
    color: #000000;
    text-transform: none;
    letter-spacing: 0;
    text-align: left;
    line-height: 5rem; 
    letter-spacing: -1px;

}



h3 {
    font-family: grifo_lregular;
    font-size: 2.5rem; /* 40px */
    color: #000000;
    line-height: 1;
}

h3.logo {
    font-size: 3rem;
}


/* dates information */
h4 {
    font-family: grifo_lregular;
    font-size: 1.25rem; /*20px*/
    color: #000000;
    line-height: 1;
    text-align: right;
    /* font-family: 'Akzidenz-Grotesk Std'; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* font-size: 16px; */
    /* line-height: 24px; */
    /* margin-bottom: 0px; */
}

/* self-intro resume links */
h5.smallText {
    font-family:akzidenz-grotesk_stdregular;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0px;
}



/* branding project details description */
h5 {
    /* font-family: AkzidenzGroteskStd-BoldEx; */
    font-family: akzidenz-grotesk_stdMdEx;
    /* font-family: aktiv-grotesk-extended,sans-serif;
    font-weight: 900;
    font-style: normal; */
    font-size: 1.5rem;
    color: #000000;
    letter-spacing: 0;
    text-align: left;
    line-height: 2rem; 
}
h5.regular {
    font-family: akzidenz-grotesk_stdregular;
    font-size: 1.25rem;
    line-height: 1.25rem; 
    /* font-family: aktiv-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal; */
}

h5.brandingRegular {
    font-family: akzidenz-grotesk_stdregular;
    font-size: 1.5rem;
    line-height: 2rem; 
    /* font-family: aktiv-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal; */
}


h5.intro {
    font-family: akzidenz-grotesk_stdmedium;
    /* font-family: aktiv-grotesk-extended,sans-serif;
    font-weight: 900;
    font-style: normal; */
    font-size: 2.5rem;
    line-height: 3.125rem; 
    letter-spacing: 0;
}
h5.bottomFooter {
    text-align: right;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;  
}


/* product design project details description */
h5.productTitle{
    color: #000000;
    font-family: grifo_sregular;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0px;
    text-align: left;
}
h5.productDetails{
    color: #000000;
    font-family: akkuratregular;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: 0px;
    text-align: left;
}
h5.productSmallTitle{
    color: #000000;
    font-family: akkuratbold;
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: 0px;
    text-align: left;
}
h5.productLegend{
    color: #848484;
    font-family: akkuratregular;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: 0px;
    text-align: left;
}
h6.productTOC {
    font-family: akkuratregular;
    color: #696969;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.875rem;
    letter-spacing: 0.8px;
    text-align: left;
    text-transform: uppercase;
}
.productDesginDescription {
    padding-bottom: 2rem;
}



/* tools information */
h6 {
    font-family: grifo_sregular;
    font-size: 1rem;
    color: #000000;
    line-height: 1.5rem;
    text-align: left;
    letter-spacing: 0;
}
h6.tools {
    font-family: grifo_sregular;
    font-size: 1.5rem;
    color: #000000;
    letter-spacing: 0;
    line-height: 1.75rem;
    padding-bottom: 1.5rem;
}




footer {
    text-align: right;
    padding-right: 20px;
    background-color: #EEEDE9;
    color: black;
    font-family: grifo_sregular;
    font-size: 25px; 
    letter-spacing: 0;
  }




#strawberryimg{
    display: inline-block;
    margin-left:-30px;
}


/* Menu icon */
/* .nav .icon {
    display: none;
  }

.nav {
  overflow: hidden;
} 

.nav a {
    float: left;
    display: block;
  }


@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }
  
@media screen and (max-width: 600px) {
    .nav.responsive .icon {
      position: absolute;
      right: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
      margin-left: 0px;
      margin-right: 20px;
    }

    .nav.responsive a.nav__link {
      font-size: 1.5rem;
    }

    .nav.responsive a.home {
      display: none; 
    }

    .nav.responsive a.icon {
      display: none; 
    }
  } */



