html {
    cursor: url("data:image/svg+xml,%3Csvg height='6' width='6' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' fill='black' r='4'/%3E%3C/svg%3E") 3 3, auto;

}


/* AkzidenzGrotesk */
@font-face {
    font-family: 'akzidenz-grotesk_stdregular';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-regular-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdmedium';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-md-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-md-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdRgEx';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-ext-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-ext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdlight';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-light-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdMdCnIt';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-mdcnit-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-mdcnit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdBdCn';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-boldcn-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-boldcn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdBdCnIt';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-boldcnit-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-boldcnit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdBdEx';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-boldex-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-boldex-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdBdExIt';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-boldexit-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-boldexit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdBdIt';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-boldit-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-boldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdRgCn';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-cn-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-cn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdCnIt';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-cnit-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-cnit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdLtExIt';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-ligextit-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-ligextit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_stdLtCn';
    src: url('./Fonts/Grotesk/akzidenzgroteskstd-lightcn-webfont.woff2') format('woff2'),
         url('./Fonts/Grotesk/akzidenzgroteskstd-lightcn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* Grifo L */
@font-face {
    font-family: 'grifo_lblack';
    src: url('./Fonts/Grifo/GrifoL/grifol-black-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_lblack_italic';
    src: url('./Fonts/Grifo/GrifoL/grifol-blackitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_lbold';
    src: url('./Fonts/Grifo/GrifoL/grifol-bold-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_lbold_italic';
    src: url('./Fonts/Grifo/GrifoL/grifol-bolditalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_litalic';
    src: url('./Fonts/Grifo/GrifoL/grifol-italic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_llight';
    src: url('./Fonts/Grifo/GrifoL/grifol-light-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_llight_italic';
    src: url('./Fonts/Grifo/GrifoL/grifol-lightitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_lmedium';
    src: url('./Fonts/Grifo/GrifoL/grifol-medium-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_lmedium_italic';
    src: url('./Fonts/Grifo/GrifoL/grifol-mediumitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_lregular';
    src: url('./Fonts/Grifo/GrifoL/grifol-regular-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoL/grifol-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Grifo M */


@font-face {
    font-family: 'grifo_mblack';
    src: url('./Fonts/Grifo/GrifoM/grifom-black-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mblack_italic';
    src: url('./Fonts/Grifo/GrifoM/grifom-blackitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mbold';
    src: url('./Fonts/Grifo/GrifoM/grifom-bold-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mbold_italic';
    src: url('./Fonts/Grifo/GrifoM/grifom-bolditalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mitalic';
    src: url('./Fonts/Grifo/GrifoM/grifom-italic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mlight';
    src: url('./Fonts/Grifo/GrifoM/grifom-light-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mlight_italic';
    src: url('./Fonts/Grifo/GrifoM/grifom-lightitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mmedium';
    src: url('./Fonts/Grifo/GrifoM/grifom-medium-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mmedium_italic';
    src: url('./Fonts/Grifo/GrifoM/grifom-mediumitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_mregular';
    src: url('./Fonts/Grifo/GrifoM/grifom-regular-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoM/grifom-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Grifo S */
@font-face {
    font-family: 'grifo_sblack';
    src: url('./Fonts/Grifo/GrifoS/grifos-black-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_sblack_italic';
    src: url('./Fonts/Grifo/GrifoS/grifos-blackitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_sbold';
    src: url('./Fonts/Grifo/GrifoS/grifos-bold-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_sbold_italic';
    src: url('./Fonts/Grifo/GrifoS/grifos-bolditalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_sitalic';
    src: url('./Fonts/Grifo/GrifoS/grifos-italic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_slight';
    src: url('./Fonts/Grifo/GrifoS/grifos-light-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_slight_italic';
    src: url('./Fonts/Grifo/GrifoS/grifos-lightitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_smedium';
    src: url('./Fonts/Grifo/GrifoS/grifos-medium-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_smedium_italic';
    src: url('./Fonts/Grifo/GrifoS/grifos-mediumitalic-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grifo_sregular';
    src: url('./Fonts/Grifo/GrifoS/grifos-regular-webfont.woff2') format('woff2'),
         url('./Fonts/Grifo/GrifoS/grifos-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/* navigation css */
header {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 50px 20px;
    /* background-color: #EEEDE9; */
    background-color: transparent;
    transition: padding 300ms ease;
}
/* header.sticky {
    padding: 0px 20px;
    opacity: 10%;
} */

body {
    --nav-height: 70px;
    padding-top: var(--nav-height);
}

.nav {
    /* width: 100%; */
    height: var(--nav-height);
    transition:  transform 0.4s;
}

.nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
}

/* Link-top navigation */
a.nav__link {
    margin-right: 600px;
    font-size: 40px;
    color: #05160F;
    text-decoration: none;
    font-family: grifo_lregular;
    /* text-align: right; */

}
a.nav__link:last-child {
    margin-right: 0;
    text-align: right;

}

/* Link-project page navigation */
a:link {
    text-decoration: none;
}
a.projectNav:hover {
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #05160F;
    color: #EEEDE9;
    position: relative;
}



/* Link-inside project */
a.insideLink{
    color: orangered;
    /* font-family: GrifoS-Regular; */
    /* font-family: 'IBM Plex Mono', monospace;     */
    /* font-family: Rubik; */
    /* background-color: lightgrey; */
}
a.insideLink:hover{
    color: orangered;
    text-decoration-line: line-through;
    font-family: GrifoS-italic;
}

/*footer link*/
a.footerLink:hover{
    color: orangered;
    /* text-decoration-line: line-through; */
    /* font-family: GrifoS-italic; */
}

  
/* Cursor */
.cursor {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--width);
    height: var(--height);
    transform: translate(calc(var(--x) - var(--width) / 2), calc(var(--y) - var(--height) / 2));
    /* transition-duration: 125ms;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-property: width, height, transform; */
    transition: 150ms width cubic-bezier(0.39, 0.575, 0.565, 1),
                150ms height cubic-bezier(0.39, 0.575, 0.565, 1),
                150ms transform cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index: 1;
    pointer-events: none;
    will-change: transform;
}

@media (pointer: fine) {
    .cursor {
      display: block;
    }
}

.cursor::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--radius);
    border: 2px solid #05160F;
    opacity: var(--scale);
    -webkit-transform: scale(var(--scale));
            transform: scale(var(--scale));
    transition: 300ms opacity cubic-bezier(0.39, 0.575, 0.565, 1),
                300ms transform cubic-bezier(0.39, 0.575, 0.565, 1),
                100ms border-radius cubic-bezier(0.39, 0.575, 0.565, 1);
}
  
html:not(html:hover) .cursor::after {
    opacity: 0;
    transform: scale(0);
}
  


img{
    display: none;
    width:500px;
    border-radius: 10px;
}


/* strawberry image in the self intro */
svg.strawberry{
    display: inline-block;
    height: 70px;
    width: 70px;
}

.project:hover img {
     display: block; 
     position: absolute;
     bottom: 100px;
     left: 100px;  
     height: auto;
     margin-left: auto;
     margin-right: auto; 
     border: 2px solid #05160F;
}

/* below codes control effect when hover on the strawberry image */
.introduction:hover img {
    display: block; 
    position: absolute;
    bottom: 100px;
    left: 100px;  
    height: auto;
    margin-left: auto;
    margin-right: auto; 
    border: 2px solid #05160F;
}


/* details of images  */
div.details img {
    width: 100%;
    height: auto;
    display: block; 
    position: static;  
    /* bottom: 100px; */
    /* left: 100px;  */
}

div.detailsX img {
    width: 100%;
    height: auto;
    display: block; 
    position: static;  
    /* bottom: 100px; */
    /* left: 100px;  */
}

.details {
    margin-top: 20px; 
    margin-bottom: 20px;  
    /* margin-right: 10px; */
    /* margin-left: 10px; */
}

.detailsX {
    margin-top: 0px; 
    margin-bottom: 0px;  
    /* margin-right: 10px; */
    /* margin-left: 10px; */
}

.date {
    margin-bottom: 240px;  
}





section.content {
    margin-top: 20px;
    padding: 20px;
    color: #05160F;
}

.container {
    padding: 20px 20px;
    /* padding-top: 800px; */
    position: fixed;
    bottom: 0;
    width: 40%;
}

.project {
    padding-bottom: 20px;
    position: -webkit-sticky;
    position: relative;
    word-wrap: break-word;
}

.introduction {
    /* padding-bottom: 20px; */
    position: -webkit-sticky;
    position: relative;
    word-wrap: break-word;
}

.content {
    padding-top: 20px; 
    padding-right: 20px;
}

.projectDescription {
    padding-bottom: 20px;
  
}



/* Typography */
h1 {
    font-family: grifo_litalic;
    font-size: 60px;
    color: #05160F;
    letter-spacing: 0;
    line-height: 1;

}


.italic {
    font-style: italic;
    font-weight: bold;
}


h2 {
    /* font-family: AkzidenzGroteskStd-BoldEx; */
    font-family: akzidenz-grotesk_stdBdEx;
    /* font-family: aktiv-grotesk-extended,sans-serif;
    font-weight: 900;
    font-style: normal; */
    font-size: 140px;
    color: #05160F;
    text-transform: uppercase;
    letter-spacing: 0;
    text-align: right;
    /* line-height: 70%ï¼› */
    line-height: 115px;
}

h2.selfintro {
    /* font-family: AkzidenzGroteskStd-BoldEx; */
    font-family: akzidenz-grotesk_stdBdEx;
    /* font-family: aktiv-grotesk-extended,sans-serif;
    font-weight: 900;
    font-style: normal; */
    font-size: 75px;
    color: #05160F;
    text-transform: none;
    letter-spacing: 0;
    text-align: left;
    line-height: 75px;
    letter-spacing: -1px;

}



h3 {
    font-family: grifo_lregular;
    font-size: 40px;
    color: #05160F;
    line-height: 1;
}


/* dates information */
h4 {
    font-family: grifo_lregular;
    font-size: 20px;
    color: #05160F;
    line-height: 1;
    text-align: right;
}


/* project details description */
h5 {
    /* font-family: AkzidenzGroteskStd-BoldEx; */
    font-family: akzidenz-grotesk_stdBdEx;
    /* font-family: aktiv-grotesk-extended,sans-serif;
    font-weight: 900;
    font-style: normal; */
    font-size: 25px;
    color: #05160F;
    letter-spacing: 0;
    text-align: left;
    line-height: 32px; 
}

h5.regular {
    font-family: akzidenz-grotesk_stdregular;
    /* font-family: aktiv-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal; */
}

h5.intro {
    font-family: akzidenz-grotesk_stdmedium;
    /* font-family: aktiv-grotesk-extended,sans-serif;
    font-weight: 900;
    font-style: normal; */
    font-size: 40px;
    line-height: 50px; 
    letter-spacing: 0;
    padding-left: 20px;
}

h5.bottomFooter {
    text-align: right;
    padding-bottom: 30px;
    padding-top: 30px;
    
}

/* tools information */
h6 {
    font-family: grifo_sregular;
    font-size: 18px;
    color: #05160F;
    line-height: 27px;
    text-align: left;
    letter-spacing: 0;
}

h6.tools {
    font-family: grifo_sregular;
    font-size: 25px;
    color: #05160F;
    letter-spacing: 0;
    line-height: 25px;
    padding-bottom: 30px;

}



footer {
    text-align: right;
    padding-right: 20px;
    background-color: EEEDE9;
    color: black;
    font-family: grifo_sregular;
    font-size: 25px; 
    letter-spacing: 0;
  }


#strawberryimg{
    display: inline-block;
    margin-left:-30px;
}






